body {
    background:#0e5b7962;
    margin: 0px;
    padding: 0px;
  }
  .mene{
    
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 88px;
  }
 .header {

    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    border-radius: 9px;

    ;

    .axha {
    display: inline;
    width: 60%;
    height: 100%;
 
    img {
        width: 235px;
        height: 327px;
    }
    }
    .right {
        display: flex;
        flex-direction: column;
      
        width: 100%;
        padding-top:49px;
        align-items: center;
    }
    button {
        color: white;
        border-radius: 17px ;
        background: #763FBC;
        width: 120px; 
        height: 59px; 
        border: none;
}
    p {
        color: #ffffff;
font-size: 25px;
font-weight: 700;

    }
 }
.shoro {
    
    color: #ffffff;
    border-radius: 122px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:  rgba(110, 87, 136, 0.411);
    margin-top: 40px;
    flex-direction: row;

    h1 {
        text-align: center;
        display: flex;
        flex-direction: row;
    }
}
.daster1{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 20PX;
    .koli {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-top: 47px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
        .matlab {
            .icon {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }
        
}

 .seda {
    text-align: center;
    border-radius: 30px;
    margin-top: 30px;
}


.daste2 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli1 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab1 {
            .icon1 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}

.daste3 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli3 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab3 {
            .icon3 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}


.daste4 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli4 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab4 {
            .icon4 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}



.daste5 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli5 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab5 {
            .icon5 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}


.daste6 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli6 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab6{
            .icon6 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}

.daste7 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli7 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab7 {
            .icon7 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}

.daste8 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli8 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab8 {
            .icon8 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}

.daste9 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli9 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab9 {
            .icon9 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}

.daste10 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli10 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab10 {
            .icon10 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}

.daste11 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli11 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab11 {
            .icon11 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}

.daste12 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli12 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab12 {
            .icon12 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}

.daste13 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli13 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab13 {
            .icon13 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}



.daste14 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli14 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab14 {
            .icon14 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}



.daste15 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli15 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab15 {
            .icon15 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}



.daste16 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli16 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab16 {
            .icon16 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}



.daste17 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli17 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab17 {
            .icon17 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}


.daste18 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli18 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab18 {
            .icon18 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}




.daste19 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli19 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab19 {
            .icon19 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}


.daste20 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .koli20 {
        border-radius: 9px;
        background-color:  rgba(110, 87, 136, 0.411);
        color: white;
        font-size: 22px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
       
        .matlab20 {
            .icon20 {
                margin-top: 10px;
    
                h5 {
                    margin: 15px;
                }
            }
        }
    
     }

}

